:root {
  /* brand color - green */
  --eos-bc-green-100: #e4f6ee;
  --eos-bc-green-500: #30ba78;
  --eos-bc-green-900: #139448;

  /* brand color - Pine */
  --eos-bc-pine-500: #0c322c;

  /* brand color - cerulean */
  --eos-bc-cerulean-100: #b3e8f6;
  --eos-bc-cerulean-500: #00b2e2;
  --eos-bc-cerulean-900: #008acf;

  /* brand color - red */
  --eos-bc-red-100: #f5c2c7;
  --eos-bc-red-500: #dc3545;
  --eos-bc-red-900: #c5161f;

  /* brand color - yellow */
  --eos-bc-yellow-100: #ffecb5;
  --eos-bc-yellow-500: #ffc107;
  --eos-bc-yellow-900: #ff9e02;

  /* brand color - gray */
  --eos-bc-gray-50: #f2f2f2;
  --eos-bc-gray-100: #e0dfdf;
  --eos-bc-gray-300: #b6b4b4;
  --eos-bc-gray-500: #969494;
  --eos-bc-gray-700: #797777;
  --eos-bc-gray-900: #686565;
  --eos-bc-gray-1000: #141823;

  /* brand color - neutral */
  --eos-bc-white: #ffffff;

}
